body{color: #000;overflow-x: hidden;height: 100%;background-repeat: no-repeat;background-size: 100% 100%}.card{padding: 30px 40px;margin-top: 60px;margin-bottom: 60px;border: none !important;box-shadow: 0 6px 12px 0 rgba(0,0,0,0.2)}.blue-text{color: #00BCD4}.form-control-label{margin-bottom: 0}input, textarea, button{padding: 8px 15px;border-radius: 5px !important;margin: 5px 0px;box-sizing: border-box;border: 1px solid #ccc;font-size: 18px !important;font-weight: 300}input:focus, textarea:focus{-moz-box-shadow: none !important;-webkit-box-shadow: none !important;box-shadow: none !important;border: 1px solid #00BCD4;outline-width: 0;font-weight: 400}.btn-block{text-transform: uppercase;font-size: 15px !important;font-weight: 400;height: 43px;cursor: pointer}.btn-block:hover{color: #fff !important}button:focus{-moz-box-shadow: none !important;-webkit-box-shadow: none !important;box-shadow: none !important;outline-width: 0}
.step-separator {
    border: 0;
    border-top: 2px solid #090909; /* Change color as needed */
    margin: 30px 0; /* Adjust spacing as needed */
}
.mbsc-ios .mbsc-form-grid .mbsc-textfield-wrapper {
    margin: 0.75em 1em;
}
/* Styling for card hover and selected state */
.selectable-card {
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}
.selectable-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
.selectable-card.selected {
    background-color: #007bff;
    color: white;
}
.selectable-card.selected i {
    color: white;
}
.counter-controls {
    display: none;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }

  /* Show counter controls when card is selected */
  .selectable-card.selected .counter-controls {
    display: flex;
  }

  .counter-controls button {
    width: 30px;
    height: 30px;
    font-size: 1rem;
    line-height: 1;
  }